<div class="container">
  <h1>Sign Up</h1>

  <form id="sign-up" method="post" action="/users">
    <label class="label" for="name">First Name</label>
    <input type="text" name="user[first_name]" placeholder="enter your first name" >
    <br>

    <label class="label" for="name">Last Name</label>
    <input type="text" name="user[last_name]" placeholder="enter your last name" >
    <br>

    <label class="label" for="email">Email</label>
    <input type="email" name="user[email]" placeholder="enter your email" >
    <br>

    <label class="label" for="birthdate">Birthdate</label>
    <input type="date" name="user[birthdate]" placeholder="enter your birthdate" >
    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="user[password]" placeholder="enter a password">
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>

</div>
