<div class="container">
  <h1>Sign Up</h1>

  <form id="sign-up" method="post" action="/users">
    <label class="label">First Name
    <input type="text" name="user[first_name]" placeholder="enter your first name" ></label>
    <br>

    <label class="label">Last Name
    <input type="text" name="user[last_name]" placeholder="enter your last name" ></label>
    <br>

    <label class="label">Email
    <input type="email" name="user[email]" placeholder="enter your email" ></label>
    <br>

    <label class="label">Birthdate
    <input type="date" name="user[birthdate]" placeholder="enter your birthdate" ></label>
    <br>

    <label class="label">Password
    <input type="password" name="user[password]" placeholder="enter a password"></label>
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>

</div>
